services:
  grafana:
    image: grafana/grafana:{{ grafana_version }}
    ports:
      - "{{ grafana_port }}:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
      - GF_SECURITY_ADMIN_USER={{ grafana_admin_user }}
    restart: always

volumes:
  grafana_data:
